/* AdminPage.css */

.admin-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted grid layout for responsiveness */
  grid-gap: 20px; /* Reduced spacing between items */
  margin-bottom: 30px;
}

.review-container {
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.review-details {
  flex-grow: 1;
}

.comments-container {
  margin-top: 10px;
}

.comment-container {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

/* Adjusted button styling for better visibility */
.button-container button.approve {
  background-color: #4caf50;
  color: #fff;
  border: none;
}

.button-container button.reject {
  background-color: #f44336;
  color: #fff;
  border: none;
}

.review-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
